<div class="container-fluid">
<form role="form">
  <div class="form-group">
    <label for="phoneNumber">Phone number</label>
    <input type="tel" class="form-control" my-current-time="format" id="phoneNumber" placeholder="Enter phone number">
    <p class="help-block">Enter a phone number to receive noise alerts</p>
  </div>
  <div class="form-group">
    <label for="threshold">Threshold</label>
    <input type="tel" class="form-control" my-current-time="format" value=".025" id="threshold" placeholder="Enter threshold">
    <p class="help-block">The volume threshold 0.0-1.0</p>
  </div>
  <input id="btnStart" type="button" class="btn btn-default" value="Start">
</form>

<div id="chart-container"></div>

</div>
